{% extends 'VulnBundle::layout.html.twig' %}

{% block navbar %}
    <ul class="nav pull-left">
        <li><a href="{{ path('user_new') }}">Add user</a></li>
    </ul>
    {{ parent() }}
{% endblock %}