{% extends 'VulnBundle::layout.html.twig' %}

{% block navbar %}
    <ul class="nav pull-left">
        <li><a href="accounts.php?uid=<?php echo $userId ?>">My Accounts</a></li>
        <li><a href="transactions.php?uid=<?php echo $userId ?>">My Transactions</a></li>
    </ul>
    <ul class="nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown" data-toggle="dropdown">
                <?php echo $_SESSION['userName'] . ' [' . strtoupper($_SESSION['roleName']) . ']'; ?>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Change password</a></li>
                <li class="divider"></li>
                <li><a href="logout.php">Logout</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <h1>Accounts</h1>
    {#<?php if (isset($_SESSION['newAccCreated'])) {
            if ($_SESSION['newAccCreated']) { ?>
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Well done!</strong> New account has been successfully created.
    </div>
    <?php } else { ?>
    <div class="alert alert-error">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> New account hasn't been created.
    </div>
    <?php }
            unset($_SESSION['newAccCreated']);
        } ?>#}
    <div>
        <a href="#create-new-account" class="btn btn-primary" data-toggle="modal">Create new account</a>
    </div>
    <br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Account</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td><a href="{{ account.accountNumber }}">{{ account.accountNumber|mask }}</a></td>
                <td>{{ account.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="create-new-account" class="modal hide fade">
        <div class="modal-header">
            <button href="#" class="close" data-dismiss="modal">&times;</button>
            <h2 class="text-center">Create new account</h2>
        </div>
        <form method="post" action="new_account.php">
            <div class="modal-body">
                <!--<div class="alert alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Account Number is invalid.</strong> Please specify exactly 16 digits.
                    All numerical, no spaces or dashes.
                </div>-->
                <input name="account" type="text" pattern="\d*" maxlength="16"
                       title="Please specify exactly 16 digits. All numerical, no spaces or dashes."
                       class="input-block-level" placeholder="Primary Account Number*" required>
                <textarea name="description" class="input-block-level" rows="6" placeholder="Description"
                          required></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-large btn-block btn-primary" type="submit">Create</button>
            </div>
        </form>
{% endblock %}