{% extends 'VulnBundle:Account:layout.html.twig' %}

{% block body %}
    <h1>Accounts</h1>
    {#<?php if (isset($_SESSION['newAccCreated'])) {
            if ($_SESSION['newAccCreated']) { ?>
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Well done!</strong> New account has been successfully created.
    </div>
    <?php } else { ?>
    <div class="alert alert-error">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> New account hasn't been created.
    </div>
    <?php }
            unset($_SESSION['newAccCreated']);
        } ?>#}
    <div>
        <a href="{{ path('account_new', {'userId': user.id}) }}" class="btn btn-primary" data-toggle="modal">Create new account</a>
    </div>
    <br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Account</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for account in user.accounts %}
            <tr>
                <td><a href="{{ account.accountNumber }}">{{ account.accountNumber|mask }}</a></td>
                <td>{{ account.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}