{% extends 'VulnBundle::layout.html.twig' %}

{% block navbar %}
    <ul class="nav pull-left">
        <li><a href="{{ path('account_show') }}">My Accounts</a></li>
        <li><a href="{{ path('transaction_show', {'accountNumber': account.accountNumber}) }}">My Transactions</a></li>
    </ul>
    {{ parent() }}
{% endblock %}