{% extends 'VulnBundle::layout.html.twig' %}

{% block body %}
    <form class="form-login" method="post" action="login.php">
        <h2 class="form-login-heading text-center">Sign In</h2>
        {#<?php if (!$success) { ?>#}
        <div class="alert alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            Your login attempt was not successful, try again. <strong>Reason:</strong> Bad credentials.
        </div>
        {#<?php } ?>#}
        <input name="username" type="text" class="input-block-level" placeholder="Username">
        <input name="password" type="password" class="input-block-level" placeholder="Password">
        <div class="row-fluid">
            <div class="span5">
                <label class="checkbox">
                    <input name="keep" type="checkbox" value="keep"> Keep me logged in
                </label>
                <div class="row-fluid">
                    <div class="span11 offset1">
                        <a id="forgot-password" href="#">Forgot password?</a>
                    </div>
                </div>
            </div>
            <div class="span6 offset1">
                <button class="btn btn-large btn-block btn-primary" type="submit">Sign In</button>
            </div>
        </div>
    </form>
{% endblock %}