{% extends 'VulnBundle::layout.html.twig' %}

{% block userName %}{% endblock %}
{% block navbar %}{% endblock %}

{% block body %}
    <form class="form-login" action="{{ path('login') }}" method="post">
        <h2 class="form-login-heading text-center">Sign In</h2>
        {% if error %}
            <div class="alert alert-error">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <input name="_username" type="text" value="{{ last_username }}" class="input-block-level"
               placeholder="Username">
        <input name="_password" type="password" class="input-block-level" placeholder="Password">
        <div class="row-fluid">
{#            <div class="span5">
                <label class="checkbox">
                    <input name="keep" type="checkbox" value="keep"> Keep me logged in
                </label>
                <div class="row-fluid">
                    <div class="span11 offset1">
                        <a id="forgot-password" href="#">Forgot password?</a>
                    </div>
                </div>
            </div>#}
            <div {#class="span6 offset1"#}>
                <button class="btn btn-large btn-block btn-primary" type="submit">Sign In</button>
            </div>
        </div>
    </form>
{% endblock %}