{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@VulnBundle/Resources/public/css/*' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a href="#" class="brand">PHP Application</a>
                {% block navbar %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@VulnBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}